*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
table{
    border: 1px solid black;
    width: 200px;
}
td{
    display: block;
    border-bottom: 1px solid black;
}
td:nth-last-child(1){
    border-bottom: none;
}
th{
    border-bottom: 1px solid black;
}
.container{
    max-height: 100%;
    overflow-y: auto;
}
